In [2]:
from dash import Dash
import dash_core_components as dcc
import dash_html_components as html
import dash_bootstrap_components as dbc
import plotly.express as px
import pandas as pd
from dash.dependencies import Input, Output
import plotly.express as px
from datetime import datetime, date

In [3]:
from os import pardir, path, getcwd, path
import sys

# mod_path = path.abspath(path.join(pardir))
pack_global = r'/Users/karimkhalil/Coding/development'
pack_project = os.path.abspath(path.join(getcwd(), pardir))

dirs = [pack_global,pack_project]


for i in dirs:
    # print(i)
    if i not in sys.path:
        sys.path.append(i)

print(sys.path)

['/Users/karimkhalil/Coding/development/stocksapp/notebooks', '/Users/karimkhalil/Coding/development/stocksapp/stocksappenv/lib/python39.zip', '/Users/karimkhalil/Coding/development/stocksapp/stocksappenv/lib/python3.9', '/Users/karimkhalil/Coding/development/stocksapp/stocksappenv/lib/python3.9/lib-dynload', '', '/Users/karimkhalil/Coding/development/stocksapp/stocksappenv/lib/python3.9/site-packages', '/Users/karimkhalil/Coding/development', '/Users/karimkhalil/Coding/development/stocksapp']

In [4]:
# from mypackages.db_loader.mongo import DB_mongo

from mypackages import DB_mongo
from project_package.df_processing import *
from pymongo import MongoClient, ASCENDING , DESCENDING
import pandas as pd

['admin', 'config', 'db_fin', 'local']
mongo imported from mypackages.db_loader.mongo
['/Users/karimkhalil/Coding/development/stocksapp/notebooks', '/Users/karimkhalil/Coding/development/stocksapp/stocksappenv/lib/python39.zip', '/Users/karimkhalil/Coding/development/stocksapp/stocksappenv/lib/python3.9', '/Users/karimkhalil/Coding/development/stocksapp/stocksappenv/lib/python3.9/lib-dynload', '', '/Users/karimkhalil/Coding/development/stocksapp/stocksappenv/lib/python3.9/site-packages', '/Users/karimkhalil/Coding/development', '/Users/karimkhalil/Coding/development/stocksapp']
project package imported

In [5]:
stock = DB_mongo._CLIENT.db_fin
mongo_stock = DB_mongo(stock)
mongo_stock.db.tables

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'db_fin'), 'tables')

In [6]:
tables = mongo_stock.all_tables
print(tables)

['cf', 'prices_bckup', 'company_today', 'mrktcap', 'company_wfinancials', 'prices_n_fin', 'bs', 'fx', 'profile', 'idx_price', 'prices', 'idx_all', 'pnl']

In [7]:
mongo_stock.get_df(mongo_stock.db.idx_all)

,_id,symbol,name,currency,stockExchange,exchangeShortName
0,62cc22fa4c9eba2a564feccc,TYX,Treasury Yield 30 Years,USD,NYBOT,INDEX
1,62cc22fa4c9eba2a564feccd,FVX,Treasury Yield 5 Years,USD,NYBOT,INDEX
2,62cc22fa4c9eba2a564fecce,TNX,Treasury Yield 10 Years,USD,NYBOT,INDEX
3,62cc22fa4c9eba2a564feccf,SPGSCI,S&P GSCI Index,USD,SNP,INDEX
4,62cc22fa4c9eba2a564fecd0,STI,STI Index,SGD,SES,INDEX
...,...,...,...,...,...,...
58,62cc22fa4c9eba2a564fed06,XAX,NYSE AMEX COMPOSITE INDEX,USD,New York Stock Exchange,INDEX
59,62cc22fa4c9eba2a564fed07,MID,S&P MID CAP 400 INDEX,USD,New York Stock Exchange,INDEX
60,62cc22fa4c9eba2a564fed08,NYA,NYSE COMPOSITE (DJ),USD,New York Stock Exchange,INDEX
61,62cc22fa4c9eba2a564fed09,X60.TS,S&P/TSX 60 Index,CAD,Toronto,INDEX
62,62cc22fa4c9eba2a564fed0a,U100.IS,BIST 100,TRY,Istanbul,INDEX

In [8]:
mongo_stock.get_df(mongo_stock.db.profile, Symbol='MSFT')

,_id,Symbol,Price,Beta,VolAvg,MktCap,LastDiv,Range,Changes,companyName,...,zip,DCF_diff,DCF,image,ipoDate,defaultImage,isEtf,isActivelyTrading,isFund,isAdr
0,629c9ee60206e9ef45214eca,MSFT,270.02,0.93616,33000374,2.019488e+12,2.42,246.44-349.67,-4.56,Microsoft Corporation,...,98052-6399,1.54418,271.564,https://financialmodelingprep.com/image-stock/...,1986-03-13,False,False,True,False,False

In [18]:
df_idx_all = mongo_stock.get_df(mongo_stock.db.idx_all)
df_idx_price = mongo_stock.get_df(mongo_stock.db.idx_price)
df_idx_price = df_idx_price.merge(df_idx_all[['symbol', 'name']])
idx_sym = mongo_stock.get_unique(mongo_stock.db.idx_price, 'symbol')
# idx_sym = mongo_stock.db.idx_price.distinct('symbol')
df_idx = df_idx_all.loc[df_idx_all['symbol'].isin(idx_sym), ['symbol', 'name' , 'currency', 'stockExchange']]
df_idx[['symbol', 'name']].to_dict('records')
market_idx_dropdown = [{'label': i['name'], 'value': i['symbol']} for i in df_idx[['symbol', 'name']].to_dict('records') ]    
df_idx_info = df_idx_all.loc[df_idx_all['symbol'].isin(idx_sym), ['symbol', 'name']]
fig = px.line(df_idx_price, x='datetime', y = 'adjClose', color='name')

In [24]:
df_fig = df_idx_price
date_min_str = pd.to_datetime(df_fig['datetime'].idxmin()).strftime("%m/%d/%Y")
date_max_str = pd.to_datetime(df_fig['datetime'].idxmax()).strftime("%m/%d/%Y")

date_min = pd.to_datetime(df_fig['datetime'].idxmin()).strftime("%m/%d/%Y")
date_max = pd.to_datetime(df_fig['datetime'].idxmax()).strftime("%m/%d/%Y")

In [46]:
df_idx_price.date

0         2022-06-17
1         2022-06-16
2         2022-06-15
3         2022-06-14
4         2022-06-13
             ...
402681    1966-01-06
402682    1966-01-05
402683    1966-01-04
402684    1966-01-03
402685    1965-12-31
Name: date, Length: 402686, dtype: object

In [49]:
df_idx_price['datetime'].dt.strftime("%m-%d-%Y")

AttributeError: 'Series' object has no attribute 'strftime'

In [53]:
df_idx_price.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 402686 entries, 0 to 402685
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   _id               402686 non-null  object
 1   index             402686 non-null  int64
 2   date              402686 non-null  object
 3   open              402686 non-null  float64
 4   high              402686 non-null  float64
 5   low               402686 non-null  float64
 6   close             402686 non-null  float64
 7   adjClose          402686 non-null  float64
 8   change            402686 non-null  float64
 9   changePercent     397152 non-null  float64
 10  label             402686 non-null  object
 11  changeOverTime    397152 non-null  float64
 12  symbol            402686 non-null  object
 13  volume            189687 non-null  float64
 14  unadjustedVolume  189687 non-null  float64
 15  vwap              187853 non-null  float64
 16  datetime          402686 non-null  datetime64[ns]
 17  month             402686 non-null  int64
 18  year              402686 non-null  int64
 19  name              402686 non-null  object
dtypes: datetime64[ns](1), float64(11), int64(3), object(5)
memory usage: 64.5+ MB

In [52]:
df_idx_price['date'].apply(lambda x: x.isoformat())

AttributeError: 'str' object has no attribute 'isoformat'

In [36]:
cols = [i for i in df_idx_all.columns if i != '_id']

In [38]:
d =df_fig.to_dict('records')[0]

In [54]:
type(d['date'])

str

In [26]:
pd.to_datetime(df_idx_price['datetime'].idxmax()).strftime("%m/%d/%Y")

'01/01/1970'

In [11]:
datetime(1995, 8, 5)

datetime.datetime(1995, 8, 5, 0, 0)

In [12]:
datetime.strptime('2010-01-01', '%Y-%m-%d')

datetime.datetime(2010, 1, 1, 0, 0)

In [13]:
datetime.strftime(datetime(1995, 8, 5), '%Y-%m-%d')

'1995-08-05'

In [17]:
type(df_idx_price.to_dict('records'))

list