In [42]:
from dash import Dash
import dash_core_components as dcc
import dash_html_components as html
import dash_bootstrap_components as dbc
import plotly.express as px
import pandas as pd
from dash.dependencies import Input, Output
import plotly.express as px

In [43]:
from os import pardir, path
import sys

# mod_path = path.abspath(path.join(pardir))
mypackage = r'/Users/karimkhalil/Coding/development'

dirs = [mypackage]
# print(dirs)

for i in dirs:
    # print(i)
    if i not in sys.path:
        sys.path.append(i)

print(sys.path)

['/Users/karimkhalil/Coding/development/stocksapp/notebooks', '/Users/karimkhalil/Coding/development/stocksapp/stocksappenv/lib/python39.zip', '/Users/karimkhalil/Coding/development/stocksapp/stocksappenv/lib/python3.9', '/Users/karimkhalil/Coding/development/stocksapp/stocksappenv/lib/python3.9/lib-dynload', '', '/Users/karimkhalil/Coding/development/stocksapp/stocksappenv/lib/python3.9/site-packages', '/Users/karimkhalil/Coding/development']

In [44]:
# from mypackages.db_loader.mongo import DB_mongo

from mypackages import DB_mongo
from pymongo import MongoClient, ASCENDING , DESCENDING
import pandas as pd

In [45]:
stock = DB_mongo._CLIENT.db_fin
mongo_stock = DB_mongo(stock)
mongo_stock.db.tables

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'db_fin'), 'tables')

In [46]:
tables = mongo_stock.all_tables
print(tables)

['cf', 'prices_bckup', 'company_today', 'mrktcap', 'company_wfinancials', 'prices_n_fin', 'bs', 'fx', 'profile', 'idx_price', 'prices', 'idx_all', 'pnl']

In [47]:
mongo_stock.get_df(mongo_stock.db.idx_all)

,_id,symbol,name,currency,stockExchange,exchangeShortName
0,62cc22fa4c9eba2a564feccc,TYX,Treasury Yield 30 Years,USD,NYBOT,INDEX
1,62cc22fa4c9eba2a564feccd,FVX,Treasury Yield 5 Years,USD,NYBOT,INDEX
2,62cc22fa4c9eba2a564fecce,TNX,Treasury Yield 10 Years,USD,NYBOT,INDEX
3,62cc22fa4c9eba2a564feccf,SPGSCI,S&P GSCI Index,USD,SNP,INDEX
4,62cc22fa4c9eba2a564fecd0,STI,STI Index,SGD,SES,INDEX
...,...,...,...,...,...,...
58,62cc22fa4c9eba2a564fed06,XAX,NYSE AMEX COMPOSITE INDEX,USD,New York Stock Exchange,INDEX
59,62cc22fa4c9eba2a564fed07,MID,S&P MID CAP 400 INDEX,USD,New York Stock Exchange,INDEX
60,62cc22fa4c9eba2a564fed08,NYA,NYSE COMPOSITE (DJ),USD,New York Stock Exchange,INDEX
61,62cc22fa4c9eba2a564fed09,X60.TS,S&P/TSX 60 Index,CAD,Toronto,INDEX
62,62cc22fa4c9eba2a564fed0a,U100.IS,BIST 100,TRY,Istanbul,INDEX

In [48]:
mongo_stock.get_df(mongo_stock.db.profile, Symbol='MSFT')

,_id,Symbol,Price,Beta,VolAvg,MktCap,LastDiv,Range,Changes,companyName,...,zip,DCF_diff,DCF,image,ipoDate,defaultImage,isEtf,isActivelyTrading,isFund,isAdr
0,629c9ee60206e9ef45214eca,MSFT,270.02,0.93616,33000374,2.019488e+12,2.42,246.44-349.67,-4.56,Microsoft Corporation,...,98052-6399,1.54418,271.564,https://financialmodelingprep.com/image-stock/...,1986-03-13,False,False,True,False,False

In [49]:
df_idx_all = mongo_stock.get_df(mongo_stock.db.idx_all)
df_idx_price = mongo_stock.get_df(mongo_stock.db.idx_price)
df_idx_price = df_idx_price.merge(df_idx_all[['symbol', 'name']])
idx_sym = mongo_stock.get_unique(mongo_stock.db.idx_price, 'symbol')
# idx_sym = mongo_stock.db.idx_price.distinct('symbol')
df_idx_info = df_idx_all.loc[df_idx_all['symbol'].isin(idx_sym), ['symbol', 'name']]
fig = px.line(df_idx_price, x='datetime', y = 'adjClose', color='name')